<!-- About Start -->
<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">
            <!-- Text Section -->
            <div class="col-lg-8">
                <div class="d-flex mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">1</h1>
                        <h5 class="mb-0">Year</h5>
                    </div>
                    <h3 class="lh-base mb-0">of working experience as a web developer using Ruby on Rails, React, Vanilla Js, etc.</h3>
                </div>
                <p class="mb-4 justified-text">My name is Choice Gabriel, I'm a full-stack Ruby on Rails developer with a passion for creating complete web solutions. I have experience in both front-end and back-end development, allowing me to build comprehensive applications from concept to deployment. I'm comfortable working with various front-end technologies alongside Rails, ensuring a cohesive and engaging user experience.</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Afordable Prices</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>High Quality Product</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>On Time Project Delivery</p>
            </div>

            <!-- Image Section -->
            <div class="col-lg-4">
                <!-- Image goes here -->
                <%= image_tag "choice.png", class: "img-fluid", alt: "Choice Gabriel" %>
            </div>
        </div>
    </div>
</div>
<!-- About End -->